<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    
    <script src="server.js"></script>
    {{!-- <script src="script.js"></script> --}}
    <script>var chickadeeSong = new Audio();
chickadeeSong.src = "../../sounds/chickadee.mp3";

var bluejaySong = new Audio();
bluejaySong.src = "sounds/bluejay.mp3";

var carolinawrenSong = new Audio();
carolinawrenSong.src = "sounds/carolinawren.mp3";

var woodpeckerSong = new Audio();
woodpeckerSong.src = 'sounds/woodpecker.mp3';

var goldfinchSong = new Audio();
goldfinchSong.src = 'sounds/goldfinch.mp3';

var housefinchSong = new Audio();
housefinchSong.src = 'sounds/housefinch.mp3';

var cardinalSong = new Audio();
cardinalSong.src = 'sounds/cardinal.mp3';

var robinSong = new Audio();
robinSong.src = 'sounds/robin.mp3';

var titmouseSong = new Audio();
titmouseSong.src = 'sounds/tuftedtitmouse.mp3';
</script>
    </head>
<body>
        <h1>Birds In Our Backyard</h1>

    <main id="mainDiv">
        <div class="card">
           <button type="button" class="button1" onclick="chickadeeSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton" > </button>
            <img src="images\Black_cappedChickadee.jpg" alt="chickadee" height=200px width=300px>
           <div class="info">
            <strong>Black Capped Chickadee</strong>
                            <div class="dropdown">
                    <div class="dropdown-text">
    <ul>
        <li>Chickadees will sing to their young when feeding them.</li><br>
        <li>Male Chickadees do not sing unless they are away from other male birds</li><br>
        <li>When nesting, Chickadees will find a hole in a tree, usually 3 to 21 feet off the ground.</li><br>
        <li>Chickadees will hide seeds in many different places that only they know about, and can remember thousands of these locations.</li><br>
        
    </ul>
                    </div>
                </div>
            </div>
 </div>


        <div class="card">
            <button type="button" class="button2" onclick="bluejaySong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <img src="images\BlueJay.jpg" alt="BlueJay" height=200px width=300px>
            <div class="info">
            <strong>Blue Jay</strong>
                <div class="dropdown">
                <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                </div>
                </div>
            </div>
            
        </div>

        <div class="card">
            <button type="button" class="button3" onclick="carolinawrenSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <img src="images\CarolinaWren.jpg" alt="Carolina Wren" height=200px width=300px>
            <div class="info">
            <strong>Carolina Wren</strong>
                <div class="dropdown">
                    <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                    </div>
                </div>
            </div>
            
        </div>

        <div class="card">
            <button type="button" class="button4" onclick="woodpeckerSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <img src="images\DownyWoodPecker.jpg" alt="Downy Wood-Pecker" height=200px width=300px>
            <div class="info">
            <strong>Downy Wood-Pecker</strong>
            <div class="dropdown">
                <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                </div>
            </div>
            </div>
            
        </div>

        <div class="card">
            <button type="button" class="button5" onclick="goldfinchSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <img src="images\Goldfinch.jpg" alt="Gold Finch" height=200px width=300px>
            <div class="info">
            <strong>Gold Finch</strong>
            <div class="dropdown">
                    <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                    </div>
                </div>
            </div>
            
        </div>

        <div class="card">
            <button type="button" class="button6" onclick="housefinchSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <img src="images\Housefinch.jpg" alt="House Finch" height=200px width=300px>
            <div class="info">
            <strong>House Finch</strong>
                <div class="dropdown">
                    <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                    </div>
                </div>
            </div>
            
        </div>
        <div class="card">
            <img src="images\NorthernCardinal.jpg" alt="Northern Cardinal" height=200px width=300px>
            <button type="button" class="button7" onclick="cardinalSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <div class="info">
            <strong>Northern Cardinal</strong>
            <div class="dropdown">
                <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                </div>
            </div>
            </div>
            
        </div>
        <div class="card">
            <img src="images\Robin.jpg" alt="Robin" height=200px width=300px>
            <button type="button" class="button8" onclick="robinSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <div class="info">
            <strong>Robin</strong>
            <div class="dropdown">
                <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                </div>
            </div>
            </div>
            
        </div>
        <div class="card">
            <img src="images\Tuffed_Titmouse.jpg" alt="Tuffed Titmouse" height=200px width=300px>
            <button type="button" class="button9" onclick="titmouseSong.play();"><img src="images\musicimg.jpg" height="35px" class="musicButton"></button>
            <div class="info">
            <strong>Tuffed Titmouse</strong>
            <div class="dropdown">
                <div class="dropdown-text">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus consequatur distinctio tempora voluptatem nam. Fugit, eaque minus porro ipsum voluptas libero unde asperiores, beatae quam vero sapiente laborum eligendi fugiat  
                </div>
            </div>
            </div>
            
        </div>
    </main>
</body>
</html>